<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<nav class="navbar navbar-default" th:fragment="menu(menu)">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="지오스토리"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRu8-urAvLMTpCnoNfMEXVJI3ueeqaAcwwmQ&usqp=CAU"
                     class="img-size">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
            <ul class="nav navbar-nav">
                <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
                    <a th:href="@{/index}">홈</a>
                </li>
                <li class="nav-item" th:classappend="${menu} == 'another'? 'active'">
                    <a href="https://www.geostory.co.kr/main/main.html?">회사홈페이지</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="nav-item" th:classappend="${menu} == 'login'? 'active'">
                    <a th:href="@{/login}">로그인</a>
                </li>
                <li  class="nav-item" th:classappend="${menu} == 'signup'? 'active'">
                    <a th:href="@{/signup}">회원가입</a>
                </li>

                <li class="nav-item" th:classappend="${menu} == 'logout'? 'active'">
                    <a th:href="@{/logout}">로그아웃</a>
                </li>
                <li  class="nav-item" th:classappend="${menu} == 'myinfo'? 'active'">
                    <a th:href="@{/user/index}">내 정보</a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
</html>