<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- header font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">

    <!-- header css -->
    <link rel="stylesheet" th:href="@{/css/header.css}">

    <!-- contents css -->
    <link rel="stylesheet" th:href="@{/css/contents.css}">

    <title>회원페이지</title>
</head>
<body class="d-flex flex-column h-100">
<header>
    <nav class="navbar navbar-default" th:replace="fragements/common :: menu('home')"></nav>
</header>
<main role="main">
    <div class="container">
        <div class="content1">
            <div class="title-size">
                <h1><span class="title">회원 정보 페이지</span></h1>
            </div>

        </div>
        <span sec:authentication="name"/>
    </div>
</main>
</body>
</html>