<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <title>OSM</title>

    <!-- header font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">

    <!-- header css -->
    <link rel="stylesheet" th:href="@{/css/header.css}">

    <!-- contents css -->
    <link rel="stylesheet" th:href="@{/css/contents.css}">

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Include the CesiumJS JavaScript and CSS files -->
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.79.1/Build/Cesium/Cesium.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.79.1/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
</head>

</head>
<body>
<header>
    <nav class="navbar navbar-default" th:replace="fragements/usercommon :: menu('osm2')"></nav>
</header>
<div class="wrapper">
    <div class="container">
        <div id="body-wrapper">
            <div id="body-content">
                <h1>Cesium MAP</h1>
                <div id="cesiumContainer"></div>
                <script>
                    Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJmNWEzMWUwNS1mNDEzLTQ3ZjctOWMzNS1kYTQzOWZjNDBiMGYiLCJpZCI6NDcxNDksImlhdCI6MTYxNjk4MjIyM30.jFC5i3Jrmd710B_soZTocY5JEQPnrhVGNB3vXtXCtU4';
                    const viewer = new Cesium.Viewer('cesiumContainer', {
                        terrainProvider: Cesium.createWorldTerrain()

                    });

                    // Add Cesium OSM Buildings, a global 3D buildings layer.
                    //const buildingTileset = viewer.scene.primitives.add(Cesium.createOsmBuildings());

                    //wms
                    // var wms = new Cesium.WebMapServiceImageryProvider({
                    //     //geoserver에 올려둔 데이터 가져오기
                    //     url : '',
                    //     parameter:{
                    //         format : 'image/png',
                    //         transparent: 'true'
                    //     },
                    //     layers : '',
                    //     maximumLevel :12
                    // });

                    // Fly the camera to San Francisco at the given longitude, latitude, and height.
                    viewer.camera.flyTo({
                        destination : Cesium.Cartesian3.fromDegrees(126.85829, 37.55784, 300),
                        orientation : {
                            heading : Cesium.Math.toRadians(0.0),
                            pitch : Cesium.Math.toRadians(-15.0),
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>
<footer>
    <div th:replace="fragements/footer"></div>
</footer>
</body>
</html>