<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <title>Hello, world!</title>

    <!-- header font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">

    <!-- header css -->
    <link rel="stylesheet" th:href="@{/css/header.css}">

    <!-- contents css -->
    <link rel="stylesheet" th:href="@{/css/contents.css}">
</head>
<body>
<header>
    <nav class="navbar navbar-default" th:replace="fragements/usercommon :: menu('naver')"></nav>
</header>
<div class="wrapper">
    <div class="container">
        <div id="body-wrapper">
            <div id="body-content">
                <h1>NAVER MAP</h1>

                <div>
                    <!-- naver map api -->
                    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=exr61y0yag"></script>
                    <div id="map2" style="width:100%;height:400px;"></div>
                    <script>
                        var mapOptions = {
                            center: new naver.maps.LatLng(37.3595704, 127.105399),
                            zoom: 10
                        };
                        var map = new naver.maps.Map('map2', mapOptions);
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div th:replace="fragements/footer"></div>
</footer>
</body>
</html>