@charset "UTF-8";
header{font-family: 'Gugi', cursive;}

.img-size{width: 30px}

#body-wrapper {
    min-height: 100%;
    position: relative;
}

#body-content {
    margin-top: 100px;
    padding-bottom: 100px; /* footer의 높이 */
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}