<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- header font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <title>signup page</title>

    <!-- header css -->
    <link rel="stylesheet" th:href="@{/css/header.css}">

    <!-- contents css -->
    <link rel="stylesheet" th:href="@{/css/contents.css}">

    <!-- singup css -->
    <link rel="stylesheet" th:href="@{/css/signup.css}">

    <!-- daum api -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <!-- daum api js -->
    <script type="text/javascript" th:src="@{/js/daumapi.js}"></script>

    <!-- signup js -->
    <script type="text/javascript" th:src="@{/js/signupvalid.js}"></script>


</head>
<meta charset="UTF-8">
<title>signup page</title>
<body>
<header>
    <nav class="navbar navbar-default" th:replace="fragements/common :: menu('signup')"></nav>
</header>
<div class="wrapper">
    <div class="container">
        <div id="body-wrapper">
            <div id="body-content">
                <div class="content1">
                    <div class="title-size">
                        <h1><span class="title">회원가입 페이지</span></h1>
                    </div>
                    <div class="form-group" id="content-size">
                        <form name="signup-form" th:action="@{/signup}" method="POST" modelAttribute="userDto">
                            <table class="table_center">
                                <tr>
                                    <td>아이디</td>
                                    <td><input type="text" class="form-control" name="id" id="id" placeholder="아이디"></td>
                                    <td><button type="button" class="btn" id="idcheckbtn" onclick="checkId()">중복체크</button></td>
                                    <td>
                                        <span class="id_ok">사용 가능한 아이디입니다.</span>
                                    </td>
                                    <td>
                                        <span class="id_already">누군가 이 아이디를 사용하고 있어요.</span>
                                    </td>
                                    <td><span th:text="${valid_id}"></span></td>
                                </tr>
                                <tr>
                                    <td>비밀번호</td>
                                    <td><input type="password" class="form-control" name="pw" id="password1" placeholder="비밀번호"></td>
                                    <td><span th:text="${valid_pw}"></span></td>
                                </tr>
                                <tr>
                                    <td>비밀번호 확인&nbsp;&nbsp;&nbsp;</td>
                                    <td><input type="password" class="form-control" id="password2" name="password2" placeholder="비밀번호 확인"></td>
                                </tr>
                                <tr>
                                    <td>이름</td>
                                    <td><input type="text" class="form-control" name="name" id="name" placeholder="이름"></td>
                                    <td><span th:text="${valid_name}"></span></td>
                                </tr>
                                <tr>
                                    <td>이메일</td>
                                    <td><input type="email" class="form-control" name="email" id="email" placeholder="이메일"></td>
                                    <td><span th:text="${valid_email}"></span></td>
                                </tr>
                                <tr>
                                    <td>전화번호</td>
                                    <td><input type="tel" class="form-control" name="tel" id="tel" placeholder="전화번호"></td>
                                    <td><span th:text="${valid_tel}"></span></td>
                                </tr>
                                <tr>
                                    <td>우편번호</td>
                                    <td><input type="text" class="form-control" id="sample6_postcode" name="postcode" placeholder="우편번호" readonly></td>
                                    <td><input type="button" class="btn" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="2"><input type="text" class="form-control" id="sample6_address" name="address" placeholder="주소"  readonly></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="text" class="form-control" id="sample6_detailAddress" name="detailaddress"  placeholder="상세주소" ></td>
                                    <td><input type="text" class="form-control" id="sample6_extraAddress" name="extraaddress"  placeholder="참고항목" readonly></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><button type="submit" class="btn" onclick="passwordConfirm()" >회원가입</button></td>
                                    <td></td>
                                </tr>
                            <input type="hidden" name="auth" value="ROLE_USER">
                            </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer>
    <div th:replace="fragements/footer"></div>
</footer>
<script>
    function checkId() {
        var id = document.getElementById('id').value;

        if(id == "") {
            alert("아이디를 먼저 입력해주세요!");
            return;
        } else {
            $.ajax({
                url: "/idCheck",
                type: "POST",
                data: {id:id},
                success:function(cnt){
                    if(cnt>=1){
                        //alert(cnt);
                        $('.id_already').css("display","inline-block");
                        $('.id_ok').css("display", "none");
                    }
                    if(cnt==0){
                        //alert(id);
                        $('.id_already').css("display", "none");
                        $('.id_ok').css("display","inline-block");
                    }else{
                        // alert(cnt);
                    }
                },
                error:function(){
                    alert("에러입니다");
                }
            });

        }
    }
</script>
</body>
</html>